@media screen and (max-width: 400px) {
  #features {
    /* padding: 20px; */
    width: 100%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}
.exampleText {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.stokesRed {
  -webkit-text-stroke: 1px rgb(255, 0, 0);
}
.stokesWhite {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}
.stokesBlack {
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
}